/*!
 * Start Bootstrap - Blog Post (https://startbootstrap.com/template-overviews/blog-post)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-post/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
  font-family: 'Literata', serif;
  font-size: 20px;
}
