
body {
  padding-top: 5%;
  font-family: 'Literata', serif;
  font-size: 17px;
}

.myslides{
  width: 600px;
  height: 181px;
  border: 1px solid #d8c7c757;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  overflow: hidden;
  margin: 60px auto;
}


.slider{
  width: 70%;
  border: 1px solid #31282878;
  border-radius: 10px;
  box-shadow: 0 12px 26px rgb(23, 21, 21);
  overflow: hidden;
  background: #4b7d4b;
  height: 55%;
  margin: 20px auto;
}

